.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Стили для серой карточки подложки под иконку */
.features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    /* Тот самый светло-серый цвет */
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    /* Отступ вниз до текста заголовка */
}

/* Цвет самой иконки */
.features-svg {
    fill: #2e2f42;
}